:root {
    --primary-color: #3498db;
  }  


body h1{
    /* change the main heading to orange */
    color: rgba(255, 165, 0,0.5);
    font-size: 30px;
}
body h2{
    color: #0000ff;
    font-size: 23px;
}
body ol{
    
/* change outer ordered list color */
    color: hsl(30, 100%, 50%);
    /* change all outer ol absolute unit */
    font-size: 18px;
}

body ol ul{
    /* change nested unordered list color */
    color:brown;
    /* change all nested ul as large as 80% outer ol */
    font-size: 0.8em;
}
h3{
    color: color-mix(in srgb, red 30%, green 70%);
}

form legend{
    color: color(display-p3 1 0.5 0); 
    
}
textarea{
    /* change text area to 100vw and 10vh */
    width: 100vw;
    height: 10vh;
}
div.attendanceLi{
    /* to set the unique absolute unit 16px */
    font-size: 16px;
    /* change ol in attendanceList fontsize */
    ol{
        font-size: 0.8em;
    }
}